<template>
  <form @submit.prevent="guardarEsquema">
    <div class="row">
      <div class="col-md-2">
        <label class="form-label">Descripcion</label>
      </div>
      <div class="col-md-6">
        <input
          class="form-control form-control-sm"
          type="text"
          placeholder="Descripcion"
          v-model="form.Descripcion.value"
        />
        <div class="invalid-field" v-if="form.Descripcion.isError">
          {{form.Descripcion.value}}
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" @click="addFunciones" class="btn btn-primary">
          Agregar
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="8">
        <funciones
          v-for="field in form.fields"
          :field="field"
          v-on:onEliminar="eliminarElemento"
          :key="field.unique"
        ></funciones>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success">
          {{ btnText }}
        </button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-danger">
          Regresar
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import Funciones from "../funciones/Funciones";
import { unique, hasErrorsForm,setErroresFormEsquemas } from "../utils/utils.js";

export default {
  name: "Esquema",
  components: {
    Funciones,
  },
  data() {
    return {
      form: {
        Descripcion: {
          value: "",
          isError: false,
          menssage: "El campo es obligatorio",
        },
        fields: [
          {
            isDatabase: true,
            unique: unique(),
            Esquema: {
              idEsquema: 0,
            },
            funcion: {
              value: "",
              isError: false,
              message: "El campo es obligatorio",
            },
            fechaInicio: {
              value: "",
              isError: false,
              message: "El campo es obligatorio",
            },
            fechaFin: {
              value: "",
              isError: false,
              message: "El campo es obligatorio",
            },
          },
        ],
      },
      btnText: "Guardar",
    };
  },
  methods: {
    eliminarElemento(idElemento) {
      this.form.fields = this.form.fields.filter((x) => x.unique != idElemento);
    },
    guardarEsquema() {
      if (!this.form.Descripcion.value) {
        this.form.Descripcion.isError = true;
      }

      setErroresFormEsquemas(this.form)
      // let numErrores = hasErrorsForm(this.form);
      console.log(numErrores);
    },
    addFunciones() {
      this.form.fields.push({
        isDatabase: false,
        unique: unique(),
        Esquema: {
          idEsquema: 0,
        },
        funcion: {
          value: "",
          isError: false,
          message: "El campo es obligatorio",
        },
        fechaInicio: {
          value: new Date(),
          isError: false,
          message: "El campo es obligatorio",
        },
        fechaFin: {
          value: new Date(),
          isError: false,
          message: "El campo es obligatorio",
        },
      });
    },
  },
  watch:{
    'form.Descripcion.value':function(newValue, olValue){
      if(newValue.length == 0 ){
        this.form.Descripcion.isError = true;
      }else{
        this.form.Descripcion.isError = false;
      }
    }
  }
};
</script>

<style></style>
