<template>
  <div class="row">
    {{ field.unique }}
    <div class="col-md-2">
      <label>Funcion*</label>
      <input
        type="text"
        placeholder="funcion"
        class="form-control form-control-sm"
        v-model="field.funcion.value"
      />
      <div v-if="field.funcion.isError" class="invalid-field">
          {{field.funcion.message}}
      </div>
    </div>
    <div class="col-md-2">
      <label>Fecha Inicio*</label>
      <v-date-picker
        v-model="field.fechaInicio.value"
        mode="date"
        is-dark
        :update-on-input="false"
      >
        <template v-slot="{ inputValue, togglePopover }">
          <div class="d-flex">
            <button
              type="button"
              class="btn btn-primary"
              @click="togglePopover()"
            >
              Calendar
            </button>
            <input
              type="text"
              placeholder="Fecha inicio"
              class="form-control form-control-sm"
              name="fechaInicio"
              :value="inputValue"
              v-on:keypress="onlyDates"
              v-on:input="isValidDate"
              maxlength="10"
              
            />
          </div>
        </template>
      </v-date-picker>
      <div class="invalid-field" v-if="field.fechaInicio.isError">
        {{ field.fechaInicio.message }}
      </div>
    </div>
    <div class="col-md-2">
      <label>Fecha Fin*</label>

      <v-date-picker
        v-model="field.fechaFin.value"
        mode="date"
        is-dark
         :update-on-input="false"   
      >
        <template v-slot="{ inputValue, togglePopover }">
          <div class="d-flex">
            <button
              type="button"
              class="btn btn-primary"
              @click="togglePopover()"
            >
              Calendar
            </button>
            <input
              type="text"
              name="fechaFin"
              placeholder="Fecha Fin"
              class="form-control form-control-sm"
              :value="inputValue"
              v-on:keypress="onlyDates"
              v-on:input="isValidDate"
              maxlength="10"
            />
          </div>
        </template>
      </v-date-picker>
         <div class="invalid-field" v-if="field.fechaFin.isError">
        {{ field.fechaFin.message }}
      </div>

    </div>
    <div class="col-2">
      <label class="label-button"></label>
      <button type="button" @click="eliminarElemento" class="btn btn-danger">
        Eliminar
      </button>
    </div>
  </div>
</template>

<script>

import { getDateFromString } from "../utils/utils";

export default {
  name: "funcionesEsquema",
  props: {
    field: {
      type: Object,
      default: () => [],
    },
  },
  methods: {
    eliminarElemento() {
      this.$emit("onEliminar", this.field.unique);
    },
    onlyDates(event) {
      // debugger;
      if (event.keyCode < 48 || event.keyCode > 57) {
        event.preventDefault();
      }
    },
    changeDate(evt) {
      this.isValidDate(evt);
    },
    isValidDate(event) {
      debugger;
      let name = event.target.name;
      let value = event.target.value;

      if (
        event.inputType !== "deleteContentBackward" &&
        (value.length == 2 || value.length == 5)
      )
        value = event.target.value += "/";

      let regularExp = new RegExp(
        /^(((0[1-9]|[12][0-9]|3[01])[- /.](0[13578]|1[02])|(0[1-9]|[12][0-9]|30)[- /.](0[469]|11)|(0[1-9]|1\d|2[0-8])[- /.]02)[- /.]\d{4}|29[- /.]02[- /.](\d{2}(0[48]|[2468][048]|[13579][26])|([02468][048]|[1359][26])00))$/
      );

      if (event && name) {
        if (name == "fechaInicio") {
          if (!regularExp.test(value)) {
            this.field.fechaInicio.isError = true;
            this.field.fechaInicio.message = "Ingrese una fecha valida.";
          } else {
            this.field.fechaInicio.isError = false;
            this.field.fechaInicio.value = getDateFromString(value, "/");
          }
        }

        if (name == "fechaFin") {
          if (!regularExp.test(value)) {
            this.field.fechaFin.isError = true;
            this.field.fechaFin.message = "Ingrese una fecha valida.";
          } else {
            this.field.fechaFin.isError = false;
            this.field.fechaFin.value = getDateFromString(value, "/");
          }
        }
      }
    },
  },
    watch:{
        'field.funcion.value':function(newValue, oldValue){
            debugger;
            if(newValue.length == 0 ){
                this.field.funcion.isError = true;
            }else{
                this.field.funcion.isError = false;
            }
        },
        'field.fechaInicio.value':function(){
                this.field.fechaInicio.isError = false;
        },
         'field.fechaFin.value':function(){
                this.field.fechaFin.isError = false;
        }
    }
};
</script>

<style scoped>
.label-button {
  display: block;
  height: 18px;
}

.invalid-field{
    color: red;
}
</style>
