<template>
  <div id="app">
    <esquema></esquema>
   
  </div>
</template>

<script>

// import Esquema from './components/Esquemas/Esquema';
// import HelloWorld from './components/HelloWorld.vue'
import Esquema from './components/Esquemas/Esquema';

export default {
  name: 'App',
  components: {
    Esquema
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
